* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.show {
  pointer-events: auto !important;
  opacity: 1 !important;
}

.show-time-modal {
  pointer-events: auto !important;
  opacity: 1 !important;
  top: 10rem !important;
}

.show-span:hover span {
  pointer-events: auto !important;
  opacity: 1 !important;
}

.show-span:hover + span {
  pointer-events: auto !important;
  opacity: 1 !important;
}

.span-ol:hover + ol {
  pointer-events: auto !important;
  opacity: 1 !important;
}

.line-animate {
  animation: line-animate 5s linear;
  animation-fill-mode: forwards;
}

@keyframes line-animate {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}
