<footer class="opacity-30 flex justify-between items-center w-full p-4">
  <p class="text-base dark:text-gray-50 text-gray-950 font-semibold mr-2">
    Feito por <a class="outline-0 text-blue-600 transition hover:underline focus:underline hover:text-blue-600/50 focus:text-blue-600/50" href="https://github.com/joaovic-tech">João Victor</a>
  </p>
  <p class="text-base dark:text-gray-50 text-gray-950 font-semibold">
    <i class="fa-regular fa-copyright"></i>
    2023 - All rights reserved
  </p>
</footer>