<% if (errors.length > 0) { %>
  <div id="msg-server" role="alert" class="fixed z-50 top-0 left-0 w-full p-5 transition duration-500 ease-in-out text-amber-500 flex gap-2 justify-center items-center font-bold bg-gradient-to-r from-white via-gray-200 to-white dark:bg-gradient-to-r dark:from-gray-950 dark:via-gray-900 dark:to-gray-950 shadow-md dark:shadow-gray-900 opacity-100 scale-100">
    <div class="px-4 py-3">
      <p class="text-rose-500 font-semibold">
        <% errors.forEach(msg => { %>
          <%- msg %><br />
        <% }); %>
      </p>
    </div>
    <div class="absolute bottom-0 left-0 w-auto h-1 bg-rose-500 line-animate shadow-md shadow-rose-500"></div>
  </div>
<% } %>

<% if (success.length > 0) { %>
  <div id="msg-server" role="alert" class="fixed z-50 top-0 left-0 w-full p-5 transition duration-500 ease-in-out text-amber-500 flex gap-2 justify-center items-center font-bold bg-gradient-to-r from-white via-gray-200 to-white dark:bg-gradient-to-r dark:from-gray-950 dark:via-gray-900 dark:to-gray-950 shadow-md dark:shadow-gray-900 opacity-100 scale-100">
    <div class="px-4 py-3">
      <p class="text-green-500 font-semibold">
        <% success.forEach(msg => { %>
          <%- msg %><br />
        <% }); %>
      </p>
    </div>
    <div class="absolute bottom-0 left-0 w-auto h-1 bg-green-500 line-animate shadow-md shadow-green-500"></div>
  </div>
<% } %>
