<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/img/Logo.png">
  <link rel="stylesheet" href="/assets/styles/main.css" />
  <title>Ops...</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script defer>
    tailwind.config = {
      darkMode: 'class',
    }
  </script>
  <script src="https://kit.fontawesome.com/673aed7dea.js" crossorigin="anonymous"></script>
</head>

<body
  class="dark bg-gray-950 transition duration-500 ease-in-out p-4 h-screen flex flex-col justify-center items-center text-center">
  <div id="svg_background_dark" class="svg_background pointer-events-none h-screen animate-pulse"></div>

  <main class="relative text-zinc-300 flex flex-col justify-center items-center m-auto">
    <h1 class="relative italic text-blue-600 text-9xl sm:text-[20rem] mb-0 animate-falling" style="text-shadow: .5rem 0 0 #1e40af">
      404
    </h1>
    <p class="dark:text-gray-300 text-gray-800 text-3xl mb-2 animate-down">Oops, você se perdeu no caminho das tarefas
    </p>
    <p class="dark:text-gray-300 text-gray-800 text-3xl mb-8 animate-down">Não podemos encontrar a página que você está
      procurando</p>
    <% if (user) { %>
    <a href="/dashboard"
      class="text-xl text-white rounded font-bold flex items-center p-4 bg-blue-600 transition hover:bg-blue-800 focus:bg-blue-800 animate-down">
      <i class="fa-solid fa-list-ul"></i>
      <span class="ml-2">Voltar para as tarefas</span>
    </a>
    <% } else { %>
    <a href="/"
      class="text-xl text-white rounded font-bold flex items-center p-4 bg-blue-600 transition hover:bg-blue-800 focus:bg-blue-800 animate-down">
      <i class="fas fa-house"></i>
      <span class="ml-2">Voltar para o inicio</span>
    </a>
    <% } %>
  </main>
  <%- include('includes/footer'); %>
</body>

</html>