<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles/main.css" />
  <title>Ops...</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/673aed7dea.js" crossorigin="anonymous"></script>
</head>
<body class="dark bg-gray-950 h-screen flex justify-center items-center text-center">
  <div id="svg_background" class="pointer-events-none h-auto sm:h-screen animate-pulse"></div>
  <div id="fancy404" class="animate-up"></div>
  <div id="alien" class="z-20 animate-up"></div>
  <div class="fixed z-10 top-6 left-6 w-[30rem] h-[30rem] rounded-full blur-2xl bg-blue-600/30 animate-pulse"></div>
  <main class="relative text-zinc-300 flex flex-col justify-center items-center">
    <h1 class="relative italic text-blue-600 text-9xl mb-0 animate-falling">404</h1>
    <p class="text-gray-300 text-3xl mb-2 animate-down">Oops, você se perdeu no espaço</p>
    <p class="text-gray-300 text-3xl mb-8 animate-down">Não podemos encontrar a página que você está procurando</p>
    <a href="/" class="text-xl text-white rounded font-bold flex items-center p-2 bg-blue-600 transition hover:bg-blue-800 focus:bg-blue-800 animate-down"><i class="fas fa-house"></i><span class="ml-2">Ir para home</span></a>
  </main>
</body>
</html>