<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css">
</head>
<body class="dark bg-gray-950 transition duration-500 ease-in-out">
  <div id="svg_background_dark" class="svg_background pointer-events-none h-screen animate-pulse"></div>
  
</body>
</html>
