<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/img/Logo.png">
  <link rel="stylesheet" href="/assets/styles/main.css" />
  <title>Listify - Sobre</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/673aed7dea.js" crossorigin="anonymous"></script>
</head>

<body class="bg-gradient-to-b from-gray-800 to-gray-950 h-screen about">
  <div id="svg_background_dark" class="svg_background pointer-events-none h-screen animate-pulse"></div>
  <main class="grid gap-2 sm:flex sm:gap-2 justify-between h-screen">
    <section class="p-8 flex flex-col justify-between sm:w-3/6 w-full animate-down">
      <div class="w-[30rem] h-auto p-2 mb-32 sm:mb-0 bg-blue-600 rounded flex justity-start items-center">
        <h1 class="text-white text-4xl">Sobre o projeto</h1>
      </div>
      <div class="grid gap-10">
        <h2 class="text-slate-200 text-5xl"><span class="text-blue-600">Listify</span> - Gerenciador de tarefas</h2>
        <p class="text-slate-300 text-xl">Bem-vindo à minha aplicação de gerenciamento de tarefas! Esta ferramenta foi
          desenvolvida com o objetivo de ajudar os usuários a organizar suas tarefas de forma eficiente e fácil. Aqui,
          você pode criar, acompanhar e concluir suas tarefas, tudo em um só lugar.</p>
        <p class="text-slate-300 text-xl">Gostaria de ressaltar que esta aplicação foi desenvolvida com fins de estudos.
          Como um profissional da área de Engenharia de Software, busquei aplicar as melhores práticas e padrões de
          programação para garantir que a aplicação seja segura, confiável e de fácil uso.</p>
        <p class="text-slate-300 text-xl">Se você quiser conhecer mais sobre mim e meu trabalho, sinta-se à vontade para
          clicar no link para acessar meu <a
            class="outline-0 text-blue-600 underline transition hover:text-blue-800 focus:text-blue-800"
            target="_blank" href="https://joaovictor-portfolio.vercel.app/">portfolio</a>. Obrigado por usar minha aplicação!</p>
      </div>
      <ul class="flex gap-4">
        <li><a href="/" class="outline-0 p-2 w-auto h-8 flex justify-center items-center font-bold text-center text-gray-50 transition hover:bg-purple-800 focus:bg-purple-800 bg-purple-600 rounded">Inicio</a></li>
        <li><a href="/login" class="outline-0 p-2 w-auto h-8 flex justify-center items-center font-bold text-center text-gray-50 transition hover:bg-blue-800 focus:bg-blue-800 bg-blue-600 rounded">Entrar</a></li>
        <li><a href="https://github.com/joaovic-tech/Listify#readme" class="outline-0 p-2 w-auto h-8 flex justify-center items-center font-bold text-center text-gray-50 transition hover:bg-yellow-800 focus:bg-yellow-800 bg-yellow-600 rounded" target="
          ">Documentação</a></li>
      </ul>
    </section>
    <section class="relative w-full sm:w-3/6 sm:bg-transparent bg-slate-200 animate-falling flex flex-col justify-between">
      <div
        class="sm:absolute left-0 bottom-0 w-screen h-[122vh] flex flex-col gap-4 justify-center bg-slate-200 shadow-xl sm:shadow-[#000] shadow-transparent sm:-rotate-12 p-8">
        <div class="flex justify-start sm:gap-60 mb-32">
          <img src="/assets/svg/squares.svg" class="" alt="squares" />
          <div class="flex flex-col gap-4 text-center">
            <h4 class="font-bold text-4xl text-gray-950">Tarefas</h4>
            <p class="text-sm text-gray-600">Crie e organize facilmente suas tarefas.</p>
          </div>
          <i class="fa-solid fa-list-check text-blue-600 text-4xl"></i>
        </div>
        <div class="w-full bg-slate-50 rounded-lg">
          <div class="typing-wrapper">
            <div class="relative flex w-auto">
              <div id="typing-container" class="outline-0 bg-slate-50 text-gray-950 py-2 pl-3"></div>
            </div>
            <p class="text-base text-gray-950 typing-pulse">|</p>
          </div>                   
          <hr class="border-blue-500" />
          <ul class="w-full flex gap-4 items-center justify-start bg-slate-100 shadow-md rounded-b-lg px-8 py-4">
            <li class="w-8 h-8 p-2 text-md flex justify-center items-center rounded bg-slate-200"><i
                class="fa-solid fa-calendar-days pointer-events-none"></i></li>
            <li class="w-8 h-8 p-2 text-md flex justify-center items-center rounded bg-slate-200"><i
                class="fa-solid fa-star pointer-events-none"></i></li>
            <li class="w-8 h-8 p-2 text-md flex justify-center items-center rounded bg-slate-200"><i
                class="fa-solid fa-repeat pointer-events-none"></i></li>
          </ul>
        </div>
        <ul class="grid gap-2">
          <li class="li-task p-2 grid rounded gap-2 transition ease bg-white">
            <div class="flex justify-between items-center text-center gap-2 pointer-events-none">
              <div class="flex justify-between items-center text-center gap-2 pointer-events-none">
                <i
                  class="fa-regular fa-square pointer-events-none checked_false checkbox-task flex justify-center items-center text-center text-3xl pointer-events-auto text-blue-500 transition ease hover:text-blue-800 focus:text-blue-800"></i>
                <h2 class="text-base text-gray-800 font-bold">Ler livro - 8:00h</h2>
              </div>
              <div class="flex justify-between items-center text-center gap-2 pointer-events-none">
                <i
                  class="fa-solid fa-star pointer-events-none flex justify-center items-center text-center py-2 px-3 rounded bg-slate-200 text-blue-500"></i>
              </div>
            </div>
            <p class="pointer-events-none flex justify-start items-center text-center gap-4 text-sm text-zinc-400"><i
                class="fa-solid fa-repeat text-blue-500"></i></p>
          </li>
          <li class="li-task p-2 grid rounded gap-2 transition ease bg-white">
            <div class="flex justify-between items-center text-center gap-2 pointer-events-none">
              <div class="flex justify-between items-center text-center gap-2 pointer-events-none">
                <i
                  class="fa-regular fa-square pointer-events-none checked_false checkbox-task flex justify-center items-center text-center text-3xl pointer-events-auto text-blue-500 transition ease hover:text-blue-800 focus:text-blue-800"></i>
                <h2 class="text-base text-gray-800 font-bold">Reunião - 15:00h</h2>
              </div>
              <div class="flex justify-between items-center text-center gap-2 pointer-events-none">
                <i
                  class="fa-solid fa-star pointer-events-none flex justify-center items-center text-center py-2 px-3 rounded bg-slate-200 text-blue-500"></i>
              </div>
            </div>
            <p class="pointer-events-none flex justify-start items-center text-center gap-4 text-sm text-zinc-400">
              <span class="flex justify-center items-center text-center gap-2">
                <i class="fa-solid fa-calendar-days text-blue-500"></i>
                27/04/2023
              </span>
            </p>
          </li>
          <li class="li-task p-2 grid rounded gap-2 transition ease bg-white">
            <div class="flex justify-between items-center text-center gap-2 pointer-events-none">
              <div class="flex justify-between items-center text-center gap-2 pointer-events-none">
                <i
                  class="fa-regular fa-square pointer-events-none checked_false checkbox-task flex justify-center items-center text-center text-3xl pointer-events-auto text-blue-500 transition ease hover:text-blue-800 focus:text-blue-800"></i>
                <h2 class="text-base text-gray-800 font-bold">Viagem para Acapulco</h2>
              </div>
              <div class="flex justify-between items-center text-center gap-2 pointer-events-none">
                <i
                  class="fa-solid fa-star pointer-events-none flex justify-center items-center text-center py-2 px-3 rounded bg-slate-200 text-blue-500"></i>
              </div>
            </div>
            <p class="pointer-events-none flex justify-start items-center text-center gap-4 text-sm text-zinc-400">
              <span class="flex justify-center items-center text-center gap-2">
                <i class="fa-solid fa-calendar-days text-blue-500"></i>
                12/12/2023
              </span>
            </p>
          </li>
          <li class="li-task p-2 grid rounded gap-2 transition ease bg-white">
            <div class="flex justify-between items-center text-center gap-2 pointer-events-none">
              <div class="flex justify-between items-center text-center gap-2 pointer-events-none">
                <i
                  class="fa-regular fa-square-check pointer-events-none checked_true text-blue-700 checkbox-task flex justify-center items-center text-center text-3xl pointer-events-auto text-blue-500 transition ease hover:text-blue-800 focus:text-blue-800"></i>
                <h2 class="text-base text-gray-800 font-bold line-through text-green-600">Concluir as
                  provas 'Objetivas' da faculdade</h2>
              </div>
              <div class="flex justify-between items-center text-center gap-2 pointer-events-none">
                <i
                  class="fa-solid fa-star pointer-events-none flex justify-center items-center text-center py-2 px-3 rounded bg-slate-200 text-blue-500"></i>
              </div>
            </div>
            <p class="pointer-events-none flex justify-start items-center text-center gap-4 text-sm text-green-600">
              Completo:
              <span class="flex justify-center items-center text-center gap-2">
                <i class="fa-solid fa-calendar-days text-blue-500"></i>
                22/04/2023
              </span>
            </p>
          </li>
        </ul>
      </div>
      <%- include('includes/footer') %>
    </section>
  </main>
  <script>
    const input = document.getElementById('typing-container');
    const phrases = ['Estudar para prova', 'Aprender programação', 'Desenvolver projetos'];

    function typePhrase(phrase) {
      return new Promise((resolve) => {
        const letters = phrase.split('');
        let i = 0;

        const intervalId = setInterval(() => {
          if (i >= letters.length) {
            clearInterval(intervalId);
            resolve();
          } else {
            input.innerHTML += `${letters[i]}`;
            i++;
          }
        }, 100);
      });
    }

    async function typing() {
      for (const phrase of phrases) {
        await typePhrase(phrase);
        await new Promise((resolve) => setTimeout(resolve, 1000));
        input.innerHTML = '';
      }
      input.innerHTML = 'Desenvolver projetos';
    }

    typing();
  </script>
</body>

</html>