<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/styles/main.css" />
  <title>Login - Listify</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      darkMode: "class",
    };
  </script>
  <script src="https://kit.fontawesome.com/673aed7dea.js" crossorigin="anonymous"></script>
</head>

<body class="dark bg-gray-950 transition duration-500 ease-in-out h-screen">
  <%- include('includes/messages'); %>

  <button id="theme-toggle"
    class="absolute bottom-0 right-0 z-50 outline-0 flex justify-center items-center gap-2 p-2 m-auto transition rounded cursor-pointer dark:bg-gray-900 dark:text-gray-50 bg-gray-300 hover:text-gray-50 hover:bg-gradient-to-r dark:hover:from-blue-500 dark:hover:to-indigo-600 hover:from-yellow-500 hover:to-pink-600 hover:shadow-md dark:hover:shadow-blue-600 hover:shadow-yellow-600">
    <i id="theme-icon" class="fas fa-moon pointer-events-none"></i>
    <span id="theme-text">Dark mode</span>
  </button>

  <div id="svg_background_dark" class="svg_background pointer-events-none h-screen animate-pulse"></div>


  <main class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-full lg:py-0 relative">
    <a href="/" class="flex gap-4 items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <i class="fa-solid fa-list text-blue-600"></i>
      Listify
    </a>
    <section
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8 sm:h-auto h-full">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Login
        </h1>
        <form id="form-login" class="space-y-4 md:space-y-6" action="/auth/login" method="post">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">E-mail</label>
            <input type="email" name="email" id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg outline-0 focus:ring-2 focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="exemplo@dominio.com" />
          </div>
          <div class="relative">
            <span id="show-password"
              class="absolute bottom-2 right-2 text-base text-gray-950 dark:text-white transition hover:text-blue-600 focus:text-blue-600">
              <i class="fa-solid fa-eye-slash"></i>
            </span>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Senha</label>
            <input type="password" name="password" id="password" placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg outline-0 focus:ring-2 focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              autocomplete />
          </div>
          <button type="submit"
            class="w-full text-white transition-all duration-300 ease-in-out bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center hover:shadow-md hover:shadow-blue-600">
            Login
          </button>
          <p class="text-lg text-zinc-300">Não possui uma conta? <a
              class="outline-0 text-blue-500 transition ease hover:text-blue-700 transition ease focus:text-blue-700"
              href="/register">Cadastre-se.</a></p>
        </form>
      </div>
    </section>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.9.0/validator.js"
    integrity="sha512-rOMALLrxlgIcEeMdX0O7A+pysTPb/201n7g04dPGvgJFB+f0CKvL8qljuIU/lDfG8IBi3o5R921G2013ihGuWg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.js"
    integrity="sha512-xuJa2iaoUiQzj8b9ENT7vyJkaWrPeg5OooeqTgE47QlOCdh10rrthb9g74yk3eIXYgUXUQc1vNvldedWxb2eSA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="module" src="/modules/Login.js"></script>
  <script type="module" src="/utils/MessageServer.js"></script>
  <script src="/utils/ShowPassword.js"></script>
  <script src="/settings/DarkMode.js"></script>
</body>

</html>